html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -197px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 197px;
}
body{
	background: #516B8A;
	background-size: cover;
	height: 100%;
    margin: 0;
    padding: 0;
}
img{
width: 600px;
height: 400px;
horizontal-align: center;
}
#myCarousel
{
	width: 940px;
    height: 400px;
}
h1{
	text-align:center;
}
h4{
    color: white;
}
.YellowLink{
	color: yellow;
}
a:hover{
color: #B0B0B0;
text-decoration: none;
cursor: pointer;
}
#testspan{
	height: 400px;
	width: 940px;
}
#autorization_container {
    align:center;
    background: #fff;
    height: contain;
}
#floater{
    float       : left;
    height      : 50%;
    margin-bottom   : -120px;
}
#content{
    clear       : both;
    height      : 240px;
    position    : relative;
}
#LogInContainer{
    height:200px;
    padding-top:80px;
    vertical-align:center;
}
@font-face {
    font-family: 'Conv_HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
.testingis{
    font-family: 'Conv_HelveticaNeueCyr-Light';
    font-size: 2em;
    color:white;
}
#kudah{
    height: 80px;
    width: 80px;
}
span:hover {
    color: yellow;
    font-size: 2.2em;
}
.newsTable {
    color: black;
    background:#E2E2E2;
}
.newsTable th {
    background-color: #7E7E86;
    color: white;
    font-family: 'Conv_HelveticaNeueCyr-Light';
}
.LabelText {
    color:white; 
    font-family: 'Conv_HelveticaNeueCyr-Light';
    font-size: 16pt;
    text-align: right;
    width: 20%;
}